@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 190 67% 92%;
    --foreground: 224 71% 4%;
    --card: 190 67% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 190 67% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 75% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 40% 85%;
    --secondary-foreground: 224 71% 4%;
    --muted: 190 40% 88%;
    --muted-foreground: 224 71% 20%;
    --accent: 33 100% 63%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 40% 80%;
    --input: 190 40% 85%;
    --ring: 197 75% 52%;
    --chart-1: 197 75% 52%;
    --chart-2: 33 100% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 40% 5%;
    --foreground: 210 40% 98%;
    --card: 220 40% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 40% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 75% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 40% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 40% 15%;
    --muted-foreground: 210 40% 60%;
    --accent: 33 100% 63%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 40% 15%;
    --input: 220 40% 15%;
    --ring: 197 75% 60%;
    --chart-1: 197 75% 52%;
    --chart-2: 33 100% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
